<h1>Lot ID: {{id}}</h1>
<h3>Starting Bid: {{startingBid}}, Description: {{description}}</h3>

<ul>
  {{#each item in this.items itemController='item'}}
    <div class="item" {{action 'itemClicked'}}>
      <p class="lead">
        {{item.description}}
      </p>
      {{#if item.clicked}}
        <p>
          Owner: {{item.owner}}
        </p>
        <p>
          Backstory: {{item.backstory}}
        </p>
        <p>
          Year Acquired: {{item.yearAcquired}}
        </p>
      {{/if}}
    </div>
  {{/each}}
</ul>

{{outlet "new-item"}}

{{#link-to 'new-item' classNames="btn btn-primary"}} Add item {{/link-to}}
